* {
  all: unset;
  transition: 200ms;
}
:root {
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
}

trough highlight {
  background: #FFFFFF;
}

scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: 0px;
}

trough slider {
  margin: -10px;
  border-radius: 0px;
  transition: all 0.2s ease;
  background-color: #CCCCFF;
}

trough {
  background-color: #272E3C;
}

/* notifications */
.notification-background {
  border-radius: 12px;
  border: 1px solid #CCCCFF;
  margin: 8px;
  background: #1B1B29;
  color: #FFFFFF;
  padding: 0;
}

.notification-background .notification {
  padding: 7px;
  border-radius: 12px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 4px;
}

.notification-content .summary {
  color: #FFFFFF;
  font-size: 1.1rem;
}

.notification-content .time {
  color: #9A9AE6;
  font-size: 0rem;
}

.notification-content .body {
  color: #AAAAF0;
  font-size: 1rem;
  padding: 15px 10px 10px 20px;
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 7px;
  padding: 2px;
  color: #272E3C;
  background-color: rgba(27,27,41,0);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
}

.notification-background .close-button:hover {
  background-color: rgba(27,27,41,0.8);
}

.notification-background .close-button:active {
  background-color: rgba(27,27,41,0);
}

.notification .notification-action {
  color: #FFFFFF;
  margin: 4px;
  font-size: 1rem; /* controls the button size not text size*/
}

.notification .notification-action {
  background-color: #272E3C;
}

.notification .notification-action:hover {
  background-color: #2D4E5C;
}

.notification .notification-action:active {
  background-color: #974C4E;
}

.notification.critical progress {
  background-color: #6565A3;
}

.notification.low progress,
.notification.normal progress {
  background-color: #CCCCFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 0px;
  padding: 3px 0;
}

/* control center */
.control-center {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  border: 1px solid #CCCCFF;
  background-color: #1B1B29;
  color: #FFFFFF;
  padding: 14px;
}

.control-center .notification-background {
  border-radius: 15px
  box-shadow: inset 0 0 0 1px #272E3C;
  margin: 4px 10px;
}

.control-center .notification-background .notification {
  border-radius: 0px
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title > label {
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: normal;
}

.control-center .widget-title button {
  border-radius: 0px
  color: #FFFFFF;
  background-color: #272E3C;
  box-shadow: inset 0 0 0 1px #272E3C;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: #272E3C;
}

.control-center .widget-title button:active {
  background-color: #272E3C;
}

.control-center .notification-group {
  margin-top: 10px;
  font-size: 0.9rem;
}

.control-center .notification-group:focus .notification-background {
  background-color: #272E3C;
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

/* dnd */
.widget-dnd {
  margin-top: 5px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: #272E3C;
  box-shadow: inset 0 0 0 1px #272E3C;
}

.widget-dnd > switch:checked {
  background: #CCCCFF;
}

.widget-dnd > switch slider {
  background: #1B1B29;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #272E3C;
}

/* mpris */
.widget-mpris-player {
  background-color: #272E3C;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 16px;
  margin: 16px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.mpris-overlay {
  background-color: #272E3C;
  opacity: 0.9;
  padding: 15px 10px;
}

.widget-mpris-album-art {
  -gtk-icon-size: 100px;
  border-radius: 12px;
  margin: 0 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
}

.widget-mpris-title {
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0px 8px 8px 8px;
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: #AAAAF0;
}

.widget-mpris button {
  border-radius: 12x;
  color: #FFFFFF;
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
  background-color: alpha(#272E3C, 0.6);
}

.widget-mpris button:active {
  background-color: #272E3C;
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #6565A3;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #272E3C;
}

.control-center .widget-label > label {
  color: #FFFFFF;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
  font-size: 1rem;
  margin: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
  background: #1B1B29;
  box-shadow: 0px 0px 10px alpha(#1B1B29, 0.8);
  border-radius: 12px;
  min-width: 60px;
  min-height: 30px;
  padding: 6px;
  margin: 0 3px 0;
  transition: all .6s ease;
}

.widget-volume {
  padding: 1rem 0;
  margin: unset;
  font-size: 1.3rem;
}

.widget-volume label {
  color: #6565A3;
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: #6565A3;
}

.widget-backlight trough highlight {
  background: #7A7AC2;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #7A7AC2;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  /* Size in px */
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: #272E3C;
  -gtk-icon-filter: none;
}