

* {
    background-image: none;
    font-size: 20px;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-image: image(url("wallpaper_blurred.png"));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    border-radius: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    outline-style: none;
    border-style: solid;
	border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:hover,button:focus {
    background-size: 30%;
    color: @color1;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
